// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Noty
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";

.username {
    font-weight: 800;
    font-size:14px;
    font-family: 'Nunito', sans-serif;
    color: #202122;
}

.feed-p {
    color: #87888a;
}

.hr-line {
    border: 0.2px #87888a solid;
    margin: 0;
    padding: 0;
}

.user-avatar {
    height: 60px;
    width: 60px;
    border-radius: 50px;
}

.like-avatars {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.people-you-know-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #e8ecec;
    padding: 5px;
}